.wrap {
  width: 100%;
  height: 100%;
}
body {
  background: #f2f2f2;
}
.page-balance-top {
  width: 100%;
  height: 12rem;
  background: gold;
}
.page-balance-top .page-balace-top-content {
  width: 94%;
  height: auto;
  margin-left: 3%;
  background: white;
  position: absolute;
  top: 5rem;
  border-radius: 0.2rem 0.2rem 0 0;
}
.page-balance-top .page-balace-top-content .page-balance-top-list {
  width: 100%;
}
.page-balance-top .page-balace-top-content .page-balance-top-list ul {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.page-balance-top .page-balace-top-content .page-balance-top-list ul li {
  width: 48%;
  height: 3rem;
  color: #666;
  font-size: 12px;
  line-height: 3rem;
  font-size: 14px;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  margin-top: -3rem;
  border-radius: 0.8rem 0.8rem 0 0;
}
.page-balance-top .page-balace-top-content .page-balance-top-list ul li.active {
  background: white;
  color: gold;
  font-weight: 600;
}
.page-balance-top .page-balace-top-content .page-balance-tab {
  width: 94%;
  margin-left: 3%;
}
.page-balance-top .page-balace-top-content .page-balance-tab .page-balance-address {
  width: 100%;
}
.page-balance-top .page-balace-top-content .page-balance-tab .page-balance-address .add-btn {
  display: block;
  margin: 1rem auto;
  width: 12rem;
  height: 3rem;
  box-sizing: border-box;
  border-radius: 3rem;
  color: gold;
  font-weight: 600;
  line-height: 2.8rem;
  text-align: center;
  border: 0.1rem solid gold;
  background: white;
}
.page-balance-top .page-balace-top-content .page-balance-tab .page-balance-address .page-address-time {
  width: 100%;
  padding: 1rem 0;
  border-top: 0.1rem solid #eee;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}
.page-balance-top .page-balace-top-content .page-balance-tab .page-balance-address .page-address-current {
  font-size: 16px;
  padding: 2rem 0;
  font-weight: 600;
}
.page-balance-top .page-balace-top-content .page-balance-tab .page-balance-address .page-address-current img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.page-balance-top .page-balace-top-content .page-balance-tab .page-balance-address button {
  border: none;
}
.page-balance-top .page-balace-top-content .page-balance-tab .page-balance-mine {
  width: 100%;
}
