.wrap {
  width: 100%;
  height: 100%;
}

.page-order-top {
  width: 100%;
  height: 12rem;
  position: relative;
  .page-order-bg {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      -webkit-filter: blur(0.5rem);
      filter: blur(0.5rem);
    }
  }
  .page-order-white {
    width: 100%;
    height: 100%;
    background: rgba(90, 78, 27, 0.8);
    position: absolute;
    top: 0;
    left: 0
  }
  .page-top-left {
    width: 30%;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    .page-top-left-img {
      width: 9rem;
      height: 9rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .page-top-right {
    width: 60%;
    position: absolute;
    left: 40%;
    top: 1.5rem;
    p {
      font-size: 16px;
      color: white;
    }
  }
}

.page-order-content {
  position: absolute;
  top: 12rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-order-tab {
  width: 100%;
  height: 100%;
  position: relative;
  .page-order-menu {
    width: 100%;
    border-bottom: 0.1rem solid #ccc;
    position: relative;
    ul {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      display: -webkit-flex;
      li {
        width: 50%;
        box-sizing: border-box;
        flex: 1;
        height: 3rem;
        line-height: 3rem;
        color: #9C9C9C;
        font-size: 16px;
        text-align: center;
      }
      li.active {
        color: #444;
        font-weight: 600;
      }
      .order-line {
        width: 20%;
        height: 0.1rem;
        background: #FFC132;
        position: absolute;
        bottom: 0;
        left: 16%;
      }
    }
  }
  .page-order-box{
    position: absolute;
    top:3rem;
    left:0;
    right:0;
    bottom:0;
    .page-order-choose{
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      bottom: 5rem;
      .page-choose-left{
        width: 25%;
        position: absolute;
        left: 0;
        top:0;
        bottom:0;
        overflow: scroll;
        box-sizing: border-box;
        border-right: 0.1rem dashed #eee;
        color: #444;
        font-size: 14px;
        .page-choose-title{
          width: 100%;
          box-sizing: border-box;
          padding: 0 0.3rem;
          padding-top: 1.5rem;
          text-align: center;
          line-height: 1.6rem;
        }
        ul{
          width: 100%;
          height: 100%;
          li{
            width: 100%;
            margin: 3rem 0;
            padding: 0 1rem;
            box-sizing: border-box;
            max-height: 4rem;
            line-height: 1.6rem;
            text-align: center;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
      }
      .page-choose-right{
        width: 75%;
        box-sizing: border-box;
        position: absolute;
        left:25%;
        top:0;
        bottom:0;
        overflow: scroll;
        .page-order-cart{
          width: 100%;
          h2{
            font-size: 16px;
            width: 100%;
            text-align: left;
            font-weight: normal;
            line-height: 2rem;
            box-sizing: border-box;
            padding-left: 0.5rem;
            padding-top: 1rem;
          }
          ul{
            width: 100%;
            li{
              width: 100%;
              box-sizing: border-box;
              padding: 1rem 0.5rem;
              overflow: hidden;
              position: relative;
              .page-cart-left{
                width: 8rem;
                height: 8rem;
                float: left;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
              .page-cart-right{
                float:left;
                width: 60%;
                p{
                  font-size: 14px;
                  padding-left: 1rem;
                  overflow:hidden;
                  text-overflow:ellipsis;
                  white-space:nowrap
                }
                p:nth-child(1){
                  font-size: 16px;
                }
                p:nth-child(2){
                  padding-top: 0.5rem;
                }
                p:nth-child(3){
                  font-size: 16px;
                  color: #FB655D;
                  position: absolute;
                  bottom: 1rem;
                }
              }
              .page-cart-add{
                position: absolute;
                bottom:1rem;
                right:0.5rem;
                p{
                  width: 2rem;
                  height: 2rem;
                  text-align: center;
                  line-height: 2rem;
                  background: #FFC43D;
                  border-radius: 50%;
                  margin-left: 0.5rem;
                  font-weight: 700;
                }
                p:nth-child(1){
                  float: left;
                  display: none;
                }
                p:nth-child(2){
                  float: right;
                }
              }
            }
          }
        }
      }
      .page-choose-bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5rem;
        background: #515150;
        z-index: 110;
        .page-bottom-txt{
          width: 65%;
          float: left;
          height: 100%;
          color: white;
          line-height: 5rem;
          text-align: center;
          font-size: 16px;
          .page-bottom-cart{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background:#FFC43D;
            position: absolute;
            top:-1rem;
            left:1rem;
            img{
              width: 2rem;
              height: 2rem;
              margin-bottom: 0.5rem;
            }
            span{
              position: absolute;
              right:-0.1rem;
              top:-0.1rem;
              display: inline-block;
              background: red;
              width: 1.5rem;
              height: 1.5rem;
              font-size: 12px;
              border-radius: 50%;
              text-align: center;
              line-height: 1.5rem;
            }
          }
          p{
            float: left;
            font-size: 16px;
            margin-left: 25%;
          }
        }
        .page-to-cart{
          float: right;
          width: 35%;
          height: 100%;
          background: #FFC43D;
          color: white;
          line-height: 5rem;
          text-align: center;
          font-size: 18px;
        }
      }

    }
  }
}
.mask-cart{
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: rgba(0,0,0,0.6);
  display: none;
  .cart-box{
    width: 100%;
    background: white;
    position: absolute;
    bottom:5rem;
    left: 0;
    overflow: hidden;
    .cart-box-top{
      width: 100%;
      box-sizing: border-box;
      padding: 0.5rem 1rem;
      .cart-box-clean{
        float: right;
        width: 1.5rem;
        height: 1.7rem;
        margin-right: 1rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
      p{
        float: right;
        font-size: 12px;
      }
    }
    .cart-box-content{
      width: 100%;
      overflow: hidden;
      ul{
        width: 100%;
        li{
          width: 100%;
          .cart-content-list{
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
            padding: 1rem 1rem;
            border-bottom: 0.1rem solid #eee;
            .cart-content-title{
              font-size: 14px;
              float: left;
            }
            .cart-content-price{
              font-size: 14px;
              float: left;
              margin-left: 1rem;
            }
            .cart-content-add{
              float: right;
              p{
                width: 2rem;
                height: 2rem;
                text-align: center;
                line-height: 2rem;
                border-radius: 50%;
                margin-left: 0.5rem;
                font-weight: 700;
                display: inline-block;
              }
              p:nth-child(1){
                float: left;
                box-sizing: border-box;
                border:0.1rem solid #eee;
              }
              p:nth-child(2){
                float: left;
                font-size: 14px;
                font-weight: normal;
              }
              p:nth-child(3){
                float: right;
                background: #FFC43D;
              }
            }
          }

        }
      }
    }
  }
}