.wrap {
  width: 100%;
  height: 100%;
}
.page-order-top {
  width: 100%;
  height: 12rem;
  position: relative;
}
.page-order-top .page-order-bg {
  width: 100%;
  height: 100%;
}
.page-order-top .page-order-bg img {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(0.5rem);
  filter: blur(0.5rem);
}
.page-order-top .page-order-white {
  width: 100%;
  height: 100%;
  background: rgba(90, 78, 27, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
.page-order-top .page-top-left {
  width: 30%;
  position: absolute;
  left: 1rem;
  top: 1.5rem;
}
.page-order-top .page-top-left .page-top-left-img {
  width: 9rem;
  height: 9rem;
}
.page-order-top .page-top-left .page-top-left-img img {
  width: 100%;
  height: 100%;
}
.page-order-top .page-top-right {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  left: 38%;
  top: 2rem;
}
.page-order-top .page-top-right .page-top-title-text {
  font-size: 16px;
  color: white;
}
.page-order-top .page-top-right .page-top-right-bj {
  width: 100%;
  margin-top: 1rem;
}
.page-order-top .page-top-right .page-top-right-bj p {
  display: inline-block;
  padding: 0.1rem 0.7rem;
  border: 0.1rem solid #FFC43D;
  border-radius: 1.2rem;
  color: #FFC43D;
}
.page-order-top .page-top-right .page-top-active {
  width: 100%;
  margin-top: 1rem;
}
.page-order-top .page-top-right .page-top-active .page-top-active-main {
  width: 100%;
  height: 1.8rem;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-order-top .page-top-right .page-top-active .page-top-active-main ul {
  width: 100%;
  height: 100%;
}
.page-order-top .page-top-right .page-top-active .page-top-active-main ul li {
  height: 100%;
  width: 100%;
  line-height: 1.8rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-order-top .page-top-right .page-top-active .page-top-active-main ul li span {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  background: #FFC43D;
  text-align: center;
  line-height: 1.8rem;
  color: white;
  float: left;
  margin-right: 0.5rem;
}
.page-order-content {
  position: absolute;
  top: 12rem;
  bottom: 0;
  left: 0;
  right: 0;
}
.page-order-tab {
  width: 100%;
  height: 100%;
  position: relative;
}
.page-order-tab .page-order-menu {
  width: 100%;
  border-bottom: 0.1rem solid #ccc;
  position: relative;
}
.page-order-tab .page-order-menu ul {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
}
.page-order-tab .page-order-menu ul li {
  width: 50%;
  box-sizing: border-box;
  flex: 1;
  height: 3rem;
  line-height: 3rem;
  color: #9C9C9C;
  font-size: 16px;
  text-align: center;
}
.page-order-tab .page-order-menu ul li.active {
  color: #444;
  font-weight: 600;
  border-bottom: 0.1rem solid #FFC132;
}
.page-order-tab .page-order-menu ul .order-line {
  width: 20%;
  height: 0.1rem;
  background: #FFC132;
  position: absolute;
  bottom: 0;
  left: 16%;
}
.page-order-tab .page-order-box {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-order-tab .page-order-box .page-order-choose {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 5rem;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-left {
  width: 25%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
  box-sizing: border-box;
  border-right: 0.1rem dashed #eee;
  color: #444;
  font-size: 14px;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-left .page-choose-title {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.3rem;
  padding-top: 1.5rem;
  text-align: center;
  line-height: 1.6rem;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-left ul {
  width: 100%;
  height: 100%;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-left ul li {
  width: 100%;
  margin: 3rem 0;
  padding: 0 1rem;
  box-sizing: border-box;
  max-height: 4rem;
  line-height: 1.6rem;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right {
  width: 75%;
  box-sizing: border-box;
  position: absolute;
  left: 25%;
  top: 0;
  bottom: 0;
  overflow: scroll;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart {
  width: 100%;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart h2 {
  font-size: 16px;
  width: 100%;
  text-align: left;
  font-weight: normal;
  line-height: 2rem;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-top: 1rem;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul {
  width: 100%;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  overflow: hidden;
  position: relative;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li .page-cart-left {
  width: 8rem;
  height: 8rem;
  float: left;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li .page-cart-left img {
  width: 100%;
  height: 100%;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li .page-cart-right {
  float: left;
  width: 60%;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li .page-cart-right p {
  font-size: 14px;
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li .page-cart-right p:nth-child(1) {
  font-size: 16px;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li .page-cart-right p:nth-child(2) {
  padding-top: 0.5rem;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li .page-cart-right p:nth-child(3) {
  font-size: 16px;
  color: #FB655D;
  position: absolute;
  bottom: 1rem;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li .page-cart-add {
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li .page-cart-add p {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  background: #FFC43D;
  border-radius: 50%;
  margin-left: 0.5rem;
  font-weight: 700;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li .page-cart-add p:nth-child(1) {
  float: left;
  display: none;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-right .page-order-cart ul li .page-cart-add p:nth-child(2) {
  float: right;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: #515150;
  z-index: 110;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-bottom .page-bottom-txt {
  width: 65%;
  float: left;
  height: 100%;
  color: white;
  line-height: 5rem;
  text-align: center;
  font-size: 16px;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-bottom .page-bottom-txt .page-bottom-cart {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #FFC43D;
  position: absolute;
  top: -1rem;
  left: 1rem;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-bottom .page-bottom-txt .page-bottom-cart img {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-bottom .page-bottom-txt .page-bottom-cart span {
  position: absolute;
  right: -0.1rem;
  top: -0.1rem;
  background: red;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
  display: none;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-bottom .page-bottom-txt p {
  float: left;
  font-size: 16px;
  margin-left: 25%;
}
.page-order-tab .page-order-box .page-order-choose .page-choose-bottom .page-to-cart {
  float: right;
  width: 35%;
  height: 100%;
  background: #FFC43D;
  color: white;
  line-height: 5rem;
  text-align: center;
  font-size: 18px;
}
.page-order-tab .page-order-criticism {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}
.page-order-tab .page-order-criticism .page-criticism-title {
  width: 100%;
}
.page-order-tab .page-order-criticism .page-criticism-title ul {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1rem;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.page-order-tab .page-order-criticism .page-criticism-title ul li {
  padding: 0.2rem 0.7rem;
  background: #ccc;
  color: white;
  font-size: 12px;
}
.page-order-tab .page-order-criticism .page-criticism-title ul li span {
  margin-left: 0.3rem;
}
.page-order-tab .page-order-criticism .page-criticism-title ul li.active {
  background: #FFC43D;
}
.page-order-tab .page-order-criticism .page-criticism-line {
  width: 100%;
  height: 0.5rem;
  background: #eee;
}
.page-order-tab .page-order-criticism .page-criticism-list {
  width: 100%;
}
.page-order-tab .page-order-criticism .page-criticism-list ul {
  width: 100%;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li {
  width: 96%;
  margin-left: 2%;
  overflow: hidden;
  border-bottom: 0.1rem solid #eee;
  box-sizing: border-box;
  padding: 1rem 0;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-left {
  width: 10%;
  float: left;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-left .list-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-left .list-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-right {
  width: 85%;
  float: right;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-right .page-criticism-right-title {
  width: 100%;
  font-size: 12px;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-right .page-criticism-right-title p:first-child {
  float: left;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-right .page-criticism-right-title p:last-child {
  float: right;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-right .page-criticism-right-content {
  width: 100%;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-right .page-criticism-right-content p {
  float: left;
  text-align: left;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-right .page-criticism-right-content .right-content-img {
  float: left;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-right .page-criticism-right-content .right-content-img img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.3rem;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-right .page-right-content-text {
  width: 100%;
  font-size: 12px;
  margin-top: 0.5rem;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-right .page-right-content-upload {
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
}
.page-order-tab .page-order-criticism .page-criticism-list ul li .page-criticism-list-right .page-right-content-upload img {
  width: 100%;
  height: 100%;
}
.mask-cart {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.mask-cart .cart-box {
  width: 100%;
  background: white;
  position: absolute;
  bottom: 5rem;
  left: 0;
  overflow: hidden;
}
.mask-cart .cart-box .cart-box-top {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}
.mask-cart .cart-box .cart-box-top .cart-box-clean {
  float: right;
  width: 1.5rem;
  height: 1.7rem;
  margin-right: 0.5rem;
}
.mask-cart .cart-box .cart-box-top .cart-box-clean img {
  width: 100%;
  height: 100%;
}
.mask-cart .cart-box .cart-box-top p {
  float: right;
  font-size: 12px;
}
.mask-cart .cart-box .cart-box-content {
  width: 100%;
  overflow: hidden;
}
.mask-cart .cart-box .cart-box-content ul {
  width: 100%;
}
.mask-cart .cart-box .cart-box-content ul li {
  width: 100%;
}
.mask-cart .cart-box .cart-box-content ul li .cart-content-list {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1rem 1rem;
  border-bottom: 0.1rem solid #eee;
}
.mask-cart .cart-box .cart-box-content ul li .cart-content-list .cart-content-title {
  font-size: 14px;
  float: left;
}
.mask-cart .cart-box .cart-box-content ul li .cart-content-list .cart-content-price {
  font-size: 14px;
  float: left;
  margin-left: 1rem;
}
.mask-cart .cart-box .cart-box-content ul li .cart-content-list .cart-content-add {
  float: right;
}
.mask-cart .cart-box .cart-box-content ul li .cart-content-list .cart-content-add p {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  font-weight: 700;
  display: inline-block;
}
.mask-cart .cart-box .cart-box-content ul li .cart-content-list .cart-content-add p:nth-child(1) {
  float: left;
  box-sizing: border-box;
  border: 0.1rem solid #eee;
}
.mask-cart .cart-box .cart-box-content ul li .cart-content-list .cart-content-add p:nth-child(2) {
  float: left;
  font-size: 14px;
  font-weight: normal;
}
.mask-cart .cart-box .cart-box-content ul li .cart-content-list .cart-content-add p:nth-child(3) {
  float: right;
  background: #FFC43D;
}
